ul,
li {
   list-style: none;
}

.App {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.FoodCourtTable {
   padding: 20px;
}


.Buttons {
   display: flex;
   padding: 0px;
   width: 200px;
   justify-content: space-between;
}